li {
    display: inline;
    padding: 8px;
    float: left;
}
.center {
    padding-top: 100px;
    padding-right: 300px;
    padding-bottom: 50px;
    padding-left: 450px; 
}
li.right {
    float: right;
    padding: 8px;
}
li a:hover {
    text-decoration: underline;
}
li a:link {
    text-decoration: none;
    color: black;
}
img {
    width: 650px;
    height: 250px;
}
input {
    width: 525px;
    position: absolute;
    left: 37%;
}